/* Todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do documento */
body {
    background-color: #f4f4f4;
    font-family: "Arial", sans-serif;
}

/* Cabeçalho */
header {
    position: relative; /* Adicionado para permitir posicionamento absoluto da logo */
    color: black;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicionado para um efeito de sombra suave */
}

/* Logo */
header .logo {
    position: absolute;
    left: 20px;
    height: 60px;
}

/* Título */
header h1 {
    margin: 0;
    font-size: 24px;
}

/* Área principal */
main {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Botões */
button {
    padding: 10px 20px;
    background-color: #2f9e41;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #2a8a3a;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    margin-bottom: 5px;
}

.modal form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal button {
    margin-top: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
